extends layout
block content
	h1.text-center.mt-4.font-weight-bold= 'To-do List'

	p.text-center= 'Save the most important things in one place'

	div.list-group.flex-row.flex-wrap

		- var colors = ['bg-primary', 'bg-secondary', 'bg-success', 'bg-warning', 'bg-info', 'bg-dark'];

		- for (var x = 0; x < notes.length; x++)

			- var color = colors[Math.floor(Math.random() * (colors.length - 0) + 0)];

			a(href="/notes")(class=color).list-group-item.list-group-item-action.w-25.mr-3.mb-3.text-white

				div.d-flex.w-100.justify-content-between

					h5.mb-1.font-weight-bold.text-truncate= notes[x].title

				p.mb-1.text-truncate= notes[x].description

