extends layout
block content
		h1.text-center.mt-5.font-weight-bold= 'To-do List - Save the most important things in one place'  
		div.d-flex.align-items-center.mb-4.mt-5.justify-content-around
			a(href="/notes").btn.btn-primary.btn-lg.d-block.w-25= 'Add note'
			a(href="/list").btn.btn-info.btn-lg.d-block.w-25= 'Add list'
		div.list-group.flex-row.flex-wrap.justify-content-around.w-100.ml-auto.mr-auto  

			- var colors = ['bg-primary', 'bg-secondary', 'bg-success', 'bg-warning', 'bg-info', 'bg-dark']; 

			- for (var x = 0; x < notes.length; x++)

				- var color = colors[Math.floor(Math.random() * (colors.length - 0) + 0)]; // random bg-color for note
				- var id = '/notes/' + notes[x]._id;

				a(href=id)(class=color).list-group-item.list-group-item-action.w-25.m-3.text-white

					div.d-flex.w-100.justify-content-between

						h4.mb-1.font-weight-bold.text-truncate= notes[x].title

					p.mb-1.text-truncate= notes[x].description

